.body-e780a {
  font-family: 'Open Sans', Helvetica, serif;
  margin: 0 auto;
  width: 960px;
}

.clearfix-922e7 {
  clear: both;
}

.big-14ff7 {
  border: 2px solid #bbb;
  height: 400px;
  width: 400px;
}

.small-85a5a {
  border: 1px solid #bbb;
  float: left;
  height: 200px;
  width: 200px; 
}